@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700,800,900&display=swap");
@import url('fonts.css');
@import url("reset.css");

body {
    font-family: "Epilogue", sans-serif;
    background-color: rgba(40, 41, 62, 1);
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

[class*="__container"] {
    max-width: 1200px;
    padding-inline: 15px;
    margin: 0 auto;
}

.header {
    color: #FFF;
    padding-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.footer__text p {
    color: #FFF;
    text-align: center;
    font-weight: 700;
    padding-block: 20px;
}

main {
    padding-block: 90px;
}

/* Section Header Block */
.section-header {
    max-width: 530px;
}

.section-header__label {
    color: #EF6D58;
    line-height: 2;
    /* 32/16 */
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.section-header__label--mb {
    margin-bottom: 13px;
}

.section-header__label--margin-big {
    margin-bottom: 33px;
}

.section-header__title {
    color: #FFF;
    font-size: 56px;
    font-weight: 800;
    line-height: 1.14;
    /* 64/56 */
    letter-spacing: -1px;
    text-transform: capitalize;
}

.section-header--center {
    margin-inline: auto;
    text-align: center;
}

.section-header__title--small {
    color: #391400;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.33;
    /* 32/24 */
    letter-spacing: 0;
}

.section-header__title--less {
    font-size: 40px;
    line-height: 1.2;
    /* 48/40 */
    letter-spacing: 0;
    text-transform: none;
}

.button {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;

    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    padding: 18px 30px;
    transition: all 0.3s;
}

@media (any-hover:hover) {
    .button:hover {
        background-color: #EF6D58;
    }

}


.button--filled {
    background: #EF6D58;
    border: none;
}

@media (any-hover:hover) {
    .button--filled:hover {
        color: #EF6D58;
        background-color: #FFF;
        border: 1px solid #EF6D58;
    }
}


/* Portfolio */

.portfolio {
    padding-bottom: 96px;
}

.portfolio__header {
    margin-bottom: 36px;
}

.portfolio__select-menu {
    display: none;
    padding-inline: 16px;
    width: 100%;
    min-height: 48px;
    border-radius: 6px;
    background: #FFF;
    margin-bottom: 48px;


    font-family: Epilogue;
    font-size: 16px;
    line-height: 32px;
    /* 200% */
}

.portfolio__menu {
    margin-bottom: 68px;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.menu__item {
    color: rgba(255, 255, 255, 0.64);
    font-size: 16px;
    line-height: 2;
    /* 32/16 */
}

.menu__item--active {
    color: #FFF;
}

.porfolio sup {
    display: inline-block;
    color: rgba(255, 255, 255, 0.64);
    font-size: 14px;
    line-height: 1.71;
    transform: translateY(-7px);
    /* 24/14 */
}

.portfolio__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 64px;
}

.card {
    flex-basis: 470px;
    min-height: 416px;
    position: relative;
    padding: 51px 48px;
    display: flex;
    align-items: flex-end;
}

.card:nth-child(4n+2),
.card:nth-child(4n+3) {
    flex-basis: 670px;
}

.card__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    object-fit: cover;
}

.card__content {
    position: relative;
    z-index: 2;
}

.card__category {
    width: fit-content;
    padding: 5px 16px;
    margin-bottom: 24px;
    border-radius: 19px;
    line-height: 2;
    /* 32/16 */
    color: #391400;
    background-color: #FFF;
    font-size: 16px;
}

.card__title {
    color: #FFF;
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 800;
    line-height: 1.2;
    /* 48/40 */
}

.portfolio__btn {
    text-align: center;
}


/* Get Started */

.contact-us {
    padding-top: 96px;
    padding-bottom: 70px;
}


.contact-us__boxs {
    position: relative;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(253, 240, 233, 1);
    border-radius: 6px;
    padding-left: 100px;
    padding-right: 83px;
}

.contact-us__boxs::before {
    position: absolute;
    top: -76px;
    left: 84px;
    content: "";
    width: 148px;
    height: 148px;
    background: url(../img/started/star.svg) 0 0 / 100% no-repeat;
    animation: pulse 1.5s infinite alternate;
}

.contact-us__box-left {
    flex-basis: 250px;
    padding-block: 75px;
}

.contact-us__header {
    margin-bottom: 23px;
}

.contact-us__box-center {
    flex-basis: 338px;
}

.contact-us__box-right {
    display: flex;
    justify-content: center;
    flex-basis: 295px;
}

.contact-us__img {
    position: relative;
    max-width: 239px;
    margin-top: -60px;
    z-index: 1;
}

.contact-us__img::after {
    position: absolute;
    content: "";
    background: url(../img/started/cloude.svg) 0 0 / 100% no-repeat;
    width: 282px;
    height: 242px;
    z-index: -1;
    left: -36px;
    bottom: 30px;
    animation: cloude 2s infinite alternate;
}

.contact-us img {
    width: 100%;
}


/* Events */
.schedule {
    padding-block: 70px;
}

.schedule__header {
    margin-bottom: 64px;
}

.schedule__events {
    display: flex;
    gap: 20px 30px;
    margin-bottom: 64px;
    flex-wrap: wrap;
}

.event {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-inline: 40px;
    padding-block: 36px;
    flex-basis: 370px;

    border-radius: 6px;
    border: 1px solid #3A3C56;

}

.event__header {
    border-bottom: 1px solid #3A3C56;
    padding-bottom: 36px;
    margin-bottom: 40px;
}

.event__calendar {
    display: flex;
    gap: 12px;
    margin-bottom: 8px;
}

.event__day {
    color: #FFF;
    font-size: 72px;
    font-weight: 800;
    line-height: 1.11;
    /* 80/72 */
    letter-spacing: -2px;
}

@media (any-hover:hover) {

    .event:hover .event__day {
        transition: all 2s;
        transform: rotateY(360deg);
    }
}



.event__data {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.33;
    /* 32/24 */
}

.event__time {
    display: inline-flex;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
    /* 32/16 */
}

.event__time::before {
    content: "";
    background: url(../img/clock.svg) 0 0 / 100% no-repeat;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

.event__title {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.33;
    /* 32/24 */
    margin-bottom: 19px;
}

.event__text {
    color: rgba(255, 255, 255, 0.64);
    font-weight: 400;
    line-height: 2;
    /* 32/16 */
    flex-grow: 1;
    margin-bottom: 26px;
}

.event__link {
    color: #FFF;
    font-weight: 400;
    line-height: 2;
    /* 32/16 */
}

@media (any-hover:hover) {

    .event__link:hover {
        text-decoration-line: underline;
        color: #EF6D58;
    }
}



.schedule__btn {
    text-align: center;
}

/* Team */

.team {
    padding-top: 70px;
    padding-bottom: 90px;
}

.team__box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 64px;
    gap: 20px;
    flex-wrap: wrap;
}

.team__slider-arrows {
    display: flex;
    gap: 16px;
}

.team__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid #686877;
    transition: all 0.3s;
}

@media (any-hover:hover) {

    .team__arrow:hover {
        background-color: #EF6D58;
    }
}



.team__arrow img {
    max-width: 100%;
}


.team__items {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 52px;
}

.item {
    flex-basis: 270px;
}

@media (any-hover:hover) {

    .team__items .item:hover {
        transform: scale(1.1);
    }
}



.item__img {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 272px;
    border-radius: 6px;
    border: 1px solid #3A3C56;
    margin-bottom: 26px;
}

.item__img img {
    max-width: 100%;
}

.item__name {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.33;
    /* 32/24 */
}

.item__post {
    color: rgba(255, 255, 255, 0.64);
    line-height: 2;
    /* 32/16 */
}

.dot-slider {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.dot-slider__item {
    width: 12px;
    height: 12px;
    border: 1px solid #4E4F6E;
    border-radius: 50%;
}


.dot-slider__item--active {
    background-color: #EF6D58;
    border-color: #EF6D58;
}

/* Founder */
.founder {
    padding-block: 90px;
}

.founder__box {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.founder__img {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    max-height: 448px;
    flex-basis: 570px;
    border-radius: 6px;
    background: url("../img/founder-bg.png") 0 0 / cover no-repeat;
}

.founder__pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.founder__info {
    position: relative;
    flex-basis: 470px;
    padding-top: 44px;
}

.founder__header {
    margin-bottom: 44px;
}

.founder__info::before {
    position: absolute;
    content: url(../img/quotes.svg);
    width: 100px;
    height: 80px;
    z-index: -1;
    right: 47px;
    top: 50px;
}

.founder__name {
    color: #FFF;
    font-size: 20px;
    line-height: 1.6;
    /* 32/20 */
    margin-bottom: 6px;
}

.founder__post {
    color: rgba(255, 255, 255, 0.64);
    font-size: 14px;
    line-height: 1.71;
    /* 24/14 */
}

/* Animation */

@media (min-width: 499.98px) {

    @keyframes cloude {
        0% {
            transform: translateY(10px);
        }

    }

    @keyframes pulse {
        0% {
            transform: scale(1.1);
        }
    }
}

/* @media */

@media (max-width:1216px) {

    .card:nth-child(4n+2),
    .card:nth-child(4n+3) {
        flex: 0 1 calc(100% / 2 - ((30px * 1) / 2));
    }

    .portfolio__item {
        flex: 0 1 calc(100% / 2 - ((30px * 1) / 2));
    }

}

@media (max-width:1140px) {
    .contact-us__boxs {
        padding-left: 25px;
        padding-right: 23px;
    }
}

@media (max-width:1106px) {
    .founder__box {
        justify-content: center;
    }

}

@media (max-width:816px) {
    .contact-us__boxs {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .section-header__title {
        font-size: 37px;
        line-height: 1.2;
        /* 48/40 */
    }

    .section-header__title--less {
        font-size: 24px;
        line-height: 1.33;
        /* 32/24 */
    }
}

@media (max-width:816px) {
    .schedule__events {
        justify-content: center;
    }
}

@media (max-width:708px) {

    .team__items,
    .team__box {
        justify-content: center;
    }

    .team__header {
        text-align: center;
    }
}

@media (max-width:668px) {

    .menu {
        display: none;
    }

    .portfolio__select-menu {
        display: inline-block;
    }

    .card:nth-child(4n+2),
    .card:nth-child(4n+3),
    .portfolio__item {
        flex: 0 1 100%;
    }

}

@media (max-width:560px) {
    .portfolio {
        padding-bottom: 70px;
    }

    .contact-us {
        padding-top: 50px;
        padding-bottom: 35px;
    }

    .schedule {
        padding-block: 35px;
    }

    .schedule__header {
        margin-bottom: 35px;
    }

    .team {
        padding-top: 35px;
        padding-bottom: 45px;
    }

    .founder {
        padding-block: 45px;
    }

    .team__box {
        margin-bottom: 35px;
    }
}

@media (max-width:430px) {
    .contact-us__box-center {
        flex-basis: 100%;
        margin-bottom: 90px;
    }

    .contact-us__img::after {
        background: url(../img/started/cloude.svg) 0 0 / 90% no-repeat;
        left: -20px;
    }
}

@media (max-width:340px) {
    .card {
        padding: 51px 28px;
    }

    .event__day {
        font-size: 54px;
    }
}